/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*@import url('https://fonts.googleapis.com/css?family=Dosis:200,300|Libre+Baskerville:400i|Proza+Libre|Cormorant+Garamond');*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i,400');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

html {
  font-family: "Roboto", "Microsoft YaHei";
}

nav ul a,
nav .brand-logo {
  color: #444;
}
nav ul a:hover {
    background-color: rgba(183, 28, 28,0.1);
    /*color: #fff;*/
}


.caption{
  font-size: 1.25rem;
  font-weight: 300;

}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 620px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container {
    min-height: 420px;
  }
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }
  #index-banner .section {
    top: 10%;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: 700;
}

.bs-component {
  position: relative;
}


/*map*/
.bh-sl-container{
    padding : 0;
}
.bh-sl-container .bh-sl-map {
    /*height: 680px;*/
}
.bh-sl-container .bh-sl-loc-list{
    /*height: 680px;*/
}
.bh-sl-container .bh-sl-map-container {
    margin-top: 0px;
    font-family: 'Proza Libre', "Microsoft YaHei", serif;
}
.bh-sl-container .bh-sl-loc-list .list-label{
    background-color: #B71C1C;
}
.gm-style div{
    font-family: 'Proza Libre', "Microsoft YaHei", serif;
}
.bh-sl-container .bh-sl-loc-list{

    height:inherit;
}
@media (min-width: 1024px){

    .bh-sl-container .bh-sl-map {
        width:100%;
    }
    .bh-sl-container  {
        position: relative;
    }
    .bh-sl-container .bh-sl-map-container {

    }
    .bh-sl-container .bh-sl-loc-list {
        position: absolute;
        left: 5%;
        top:10%;
        width: 24%;

        background: none;
    }
}
/*////*/



#loader{
}
.page .parallax-container {
  min-height: 380px;
}

.welcome p{
  /*front page only*/
  line-height: 2rem;

  letter-spacing: 0.04em;
  font-family:  'Proza Libre',  "Microsoft YaHei", serif;
  /*font-size: 14px;*/
}
.page-footer p{
  line-height: 1.5;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}
.navbar{
  font-family:  'Proza Libre',  "Microsoft YaHei", serif;
  font-weight: 400;
}

.icon-block{
  padding-bottom: 10px;
  position: relative;
}
#header-address{
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  position: absolute;
  top:0;
  left: 0;
}

#reservation .valign-bg{
    background: url('../img/tisch.jpg') no-repeat;
    padding: 10px;
    /*background-size: 100% 100%;*/
    background-size: cover;
    height: 660px;
}

#reservation  .reservation-box {
  height: 100%;
  position: relative;
}

#reservation .card{
    /*opacity: 0.85;*/
    background-color: rgba(255,255,255,0.9);
}
#contact  .contact-box {
    padding-top: 30px;
    height: 100%;
    position: relative;
}
#contact div.input-field{
    color: #000;
    line-height: 22.5px;
}
#contact h3{
    color: #000;
}
.bg-pad {
  padding: 0.5rem 2rem;
  color: #000;
  background: rgba(255, 255, 255,0.5);

}
.no-margin {
    margin: 0; !important;
}
.no-margin-bottom {
  margin-bottom: 0; !important;
}


h4, h5{
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}
.scroll-top-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;

    font-size: 24px;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    text-align: center;

    line-height: 50px;
    background-color: #06060f;
    color: #99a9b5;
}
@media only screen and (min-width : 992px) {

  .header{
    position: relative;
    padding-top: 40px;
  }

}
nav ul a:hover {
    color: #B71C1C;
}
#index-banner .parallax {
  -webkit-animation-name: cf4FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
  -moz-animation-name: cf4FadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 20s;
  -o-animation-name: cf4FadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 20s;
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}


#index-banner .parallax:nth-of-type(1) {
  animation-delay: 16s;
}
#index-banner .parallax:nth-of-type(2) {
  animation-delay: 12s;
}
#index-banner .parallax:nth-of-type(3) {
  animation-delay: 8s;
}
#index-banner .parallax:nth-of-type(4) {
  animation-delay: 4s;
}
#index-banner .parallax:nth-of-type(5) {
  animation-delay: 0s;
}
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

